# Ambiente Virtual
.venv/
venv/
env/

# Configurações do VS Code
.vscode/
.claude/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Arquivo de salvamento (opcional, se não quiser que seu save pessoal suba)
save_v2.json
# Ignorar arquivos de save
run_slot_1.json
*.json
!settings.json
MONSTROS.txt

_debug_frames/